@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    max-width: 1440px;
    background-color:  hsl(0, 0%, 98%);
}

header {
    text-align: center;
    padding: 70px 0 50px 0;
}

h1 {
    font-size: 28px;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}

h2 {
    font-size: 35px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    margin-bottom: 1em;
}

p.subtitle {
    font-size: 18px;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    margin: 0 auto;
    max-width: 500px; 
}

.box {
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3em;
    margin: 0 auto;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: auto auto auto auto;
    column-gap: 20px;
}

.card {
    margin: 30px 0;
    width: 350px;
    height: 250px;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
    cursor: pointer;
 }



h3 {
    font-size: 22px;
    color: hsl(234, 12%, 34%)
}


div.supervisor {
    border-top: 5px solid hsl(180, 62%, 55%);
    margin-bottom: 30px;
    grid-area: 2/1/4/3;
}

div.team {
    border-top: 5px solid hsl(0, 78%, 62%);
    margin-bottom: 30px;
    grid-area: 1/2/3/3;
}

div.karma {
    border-top: 5px solid hsl(34, 97%, 64%);
    margin-bottom: 30px;
    grid-area: 3/2/5/3;
}

div.calculator {
    border-top: 5px solid hsl(212, 86%, 64%);
    margin-bottom: 30px;
    grid-area: 2/3/4/4;
}

img {
    display: block;
    margin-top: 2em;
    margin-left: auto;
}

p {
    color: hsl(229, 6%, 66%);
}

.card:hover {
    transform: scale(1.02); 
}



 @media only screen and (min-width: 560px) {
     box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }
} 


footer {
    width: 100%;
    position: relative;
    height: 100px;
 
  }

.attribution {
    color: black;
    text-align: center;
    display: flex;
}